/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
color palette:

$Track_darkblue
$Track_blue
$Track_green
$Track_red
$Track_black

*/
/* line 14, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 18, ../src/screen.scss */
body {
  margin: 0 auto;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #dddddd 100%);
  background-image: linear-gradient(top, #ffffff 0%, #dddddd 100%);
  min-height: 1080px;
}

/* line 23, ../src/screen.scss */
#wrapper {
  margin: 0 auto;
  width: 1160px;
}

/* line 27, ../src/screen.scss */
#header {
  margin-top: 0;
  overflow: hidden;
  *zoom: 1;
}

/* line 31, ../src/screen.scss */
.logo-area {
  float: left;
  margin-left: 0;
  min-height: 150px;
  width: 760px;
}

/* line 37, ../src/screen.scss */
.login-area {
  float: left;
  font-family: Arial;
  line-height: 24px;
  margin: 35px 0 0 25px;
  text-align: left;
  width: 285px;
}

/* line 45, ../src/screen.scss */
.login-area img {
  display: block;
  float: right;
  padding-left: 6px;
}

/* line 50, ../src/screen.scss */
ul.nav, ul.nav ul {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0 5px 0 0;
}

/* line 56, ../src/screen.scss */
ul.nav li {
  float: left;
}

/* line 59, ../src/screen.scss */
ul.nav li ul {
  position: absolute;
  left: -999em;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  padding: 20px;
}

/* line 69, ../src/screen.scss */
ul.nav li ul li {
  padding: 0 5px;
}

/* line 72, ../src/screen.scss */
.nav li:hover ul {
  left: auto;
}

/* line 75, ../src/screen.scss */
ul.nav a {
  display: block;
  float: right;
  padding-left: 5px;
}

/* line 80, ../src/screen.scss */
.search-area {
  -moz-box-shadow: 0 0 10px #888888;
  -webkit-box-shadow: 0 0 10px #888888;
  box-shadow: 0 0 10px #888888;
  background-color: #E5E5E5;
  border-bottom: 1px solid #AAAAAA;
  clear: both;
  display: block;
  height: 50px;
  margin: 0 0 30px;
  padding-right: 20px;
  text-align: right;
}

/* line 93, ../src/screen.scss */
.search-area input {
  margin: 0;
  float: right;
}

/* line 97, ../src/screen.scss */
.search-area p {
  height: 42px;
  line-height: 36px;
  padding: 6px 0 0 20px;
}

/* line 102, ../src/screen.scss */
.search-area img {
  float: left;
  margin-left: 180px;
}

/* line 106, ../src/screen.scss */
#content {
  width: 1160px;
  min-height: 800px;
  float: left;
  margin-top: 50px;
}

/* line 113, ../src/screen.scss */
.apikey {
  font-family: monospace;
  font-size: 13px;
}

/* line 115, ../src/screen.scss */
#login-form, #register-form, #edituser-form {
  width: 300px;
  margin: 0 auto;
}

/* line 116, ../src/screen.scss */
#googlemap {
  border: 5px solid #ccc;
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
}

/* line 117, ../src/screen.scss */
#main-area {
  float: left;
  margin: 0 60px 0 60px;
}

/* line 121, ../src/screen.scss */
#friends-area {
  float: left;
  text-align: left;
  margin-left: 10px;
}

/* line 126, ../src/screen.scss */
.friend {
  width: 200px;
  padding: 5px 0;
  line-height: 30px;
}

/* line 132, ../src/screen.scss */
.status {
  float: left;
  padding-right: 10px;
}

/* line 136, ../src/screen.scss */
.field {
  margin-top: 20px;
  text-align: right;
  width: 710px;
}

/* line 142, ../src/screen.scss */
p {
  font-family: "sans-serif", "tahoma", "Verdana", "Geneva", "Arial";
  margin-bottom: 10px;
}

/* line 147, ../src/screen.scss */
h1, h2 {
  font-family: "sans-serif", "tahoma", "Verdana", "Geneva", "Arial";
  text-align: center;
}

/* line 152, ../src/screen.scss */
h1 {
  color: #37383f;
  margin-bottom: 10px !important;
  font-size: 18pt;
}

/* line 157, ../src/screen.scss */
h2 {
  color: #333333;
  font-size: 12px;
  margin-bottom: 20px !important;
}

/* line 163, ../src/screen.scss */
.quote {
  color: #cccccc;
  font-family: "sans-serif", "tahoma", "Verdana", "Geneva", "Arial";
  font-size: 10pt;
  margin-left: 35px;
}

/* line 169, ../src/screen.scss */
.grey {
  color: #cccccc;
  font-family: "sans-serif", "tahoma", "Verdana", "Geneva", "Arial";
  font-size: 12px;
  padding-left: 12px;
}

/* line 175, ../src/screen.scss */
.first-row {
  margin-top: 20px;
}

/* line 178, ../src/screen.scss */
.centered {
  text-align: center;
  margin: 0 auto;
}

/* line 182, ../src/screen.scss */
.right {
  text-align: right;
  overflow: hidden;
  *zoom: 1;
  float: right;
}

/* line 187, ../src/screen.scss */
.left {
  text-align: left;
  overflow: hidden;
  *zoom: 1;
  float: left;
}

/* line 192, ../src/screen.scss */
#error_explanation {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #E7BCBC;
  border: 2px solid #C86464;
  text-align: center;
  margin-top: 10px;
  padding: 10px 0 10px 0;
}

/* line 202, ../src/screen.scss */
#error_explanation ul li {
  background: url("/images/error.png") no-repeat scroll 0 0 transparent;
  color: #C86464;
  font-size: 10px;
  height: 10px;
  margin-left: 150px;
  margin-top: 5px;
  padding: 2px 2px 2px 20px;
  text-align: left;
}

/* line 212, ../src/screen.scss */
#error_explanation h2 {
  font-size: 14px;
  color: #923434;
}

/* line 216, ../src/screen.scss */
.narrow {
  float: left;
  margin-left: 180px;
  margin-top: 15px;
  width: 211px;
}

/* line 222, ../src/screen.scss */
.narrow label {
  float: left;
  line-height: 34px;
  margin-top: 0;
  width: 120px;
}

/* line 228, ../src/screen.scss */
.spacing {
  padding: 0 3px;
}

/* line 231, ../src/screen.scss */
a {
  font-weight: bold;
  color: #2d3070;
  text-decoration: none;
}

/* line 236, ../src/screen.scss */
label, input {
  font-family: "sans-serif", "tahoma", "Verdana", "Geneva", "Arial";
  font-size: 12px;
  margin-top: 2px;
}

/* line 242, ../src/screen.scss */
input[type="text"], input[type="password"] {
  font-size: 16px;
  padding: 7px;
}

/* line 246, ../src/screen.scss */
input[type="checkbox"] {
  display: block;
  float: left;
  margin: 1px 10px 0 0;
}

/* line 251, ../src/screen.scss */
input[type="submit"] {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#989eff), to(#5e63bd));
  background-image: -moz-linear-gradient(#989eff, #5e63bd);
  color: #2d3070;
  margin-top: 25px;
  text-shadow: 1px 1px 2px #fff;
  -moz-box-shadow: 2px 2px 3px #ccc;
  -webkit-box-shadow: 2px 2px 3px #ccc;
  box-shadow: 2px 2px 3px #ccc;
  text-align: center;
  text-decoration: none;
  border: 2px solid #2d3070;
  line-height: 34px;
  width: 100px;
  font-family: "sans-serif", "tahoma", "Verdana", "Geneva", "Arial";
  font-size: 12pt;
  height: 40px;
  vertical-align: middle;
}

/* line 274, ../src/screen.scss */
input[type="submit"]:hover {
  color: #293D1B;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#99e764), to(#60963d));
  background-image: -moz-linear-gradient(#99e764, #60963d);
  border-color: #192510;
}
