/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
color palette:

$Track_darkblue
$Track_blue
$Track_green
$Track_red
$Track_black

*/
/* line 14, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 17, ../src/screen.scss */
body {
  margin: 0 auto;
  text-align: center;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #dddddd 100%);
  background-image: linear-gradient(top, #ffffff 0%, #dddddd 100%);
  min-height: 1080px;
}

/* line 23, ../src/screen.scss */
#wrapper {
  margin: 0 auto;
  width: 1160px;
}

/* line 27, ../src/screen.scss */
#header {
  margin-top: 0 auto;
}

/* line 30, ../src/screen.scss */
.logo-area {
  width: 550px;
  min-height: 150px;
  float: left;
}

/* line 35, ../src/screen.scss */
.search-area {
  width: 200px;
  float: left;
  margin: 40px 0px 0px 270px;
}

/* line 40, ../src/screen.scss */
#content {
  width: 1160px;
  min-height: 800px;
  float: left;
  margin-top: 100px;
}

/* line 46, ../src/screen.scss */
#main-area {
  float: left;
  margin: 40px 60px 0 60px;
}

/* line 50, ../src/screen.scss */
#friends-area {
  float: left;
  margin: 40px 0 0 90px;
  text-align: left;
}

/* line 55, ../src/screen.scss */
.friend {
  width: 200px;
  padding: 5px 0;
  line-height: 30px;
}

/* line 61, ../src/screen.scss */
.status {
  float: left;
  padding-right: 10px;
}

/* line 65, ../src/screen.scss */
.field {
  margin-top: 20px;
  text-align: right;
  width: 710px;
}

/* line 70, ../src/screen.scss */
.form {
  width: 1160px;
  margin-top: 50px;
}

/* line 74, ../src/screen.scss */
.narrow {
  width: 1160px;
}

/* line 77, ../src/screen.scss */
p {
  font-family: "sans-serif", "tahoma", "Verdana", "Geneva", "Arial";
}

/* line 80, ../src/screen.scss */
h1, h2 {
  font-family: "sans-serif", "tahoma", "Verdana", "Geneva", "Arial";
}

/* line 84, ../src/screen.scss */
h1 {
  color: #37383f;
  font-size: 18pt;
  margin-bottom: 20px;
}

/* line 89, ../src/screen.scss */
h2 {
  color: #cccccc;
  font-size: 12pt;
}

/* line 93, ../src/screen.scss */
.quote {
  color: #cccccc;
  font-family: "sans-serif", "tahoma", "Verdana", "Geneva", "Arial";
  font-size: 10pt;
}

/* line 98, ../src/screen.scss */
.grey {
  color: #cccccc;
  font-family: "sans-serif", "tahoma", "Verdana", "Geneva", "Arial";
}

/* line 102, ../src/screen.scss */
a {
  font-weight: bold;
  color: #2d3070;
  text-decoration: none;
}

/* line 107, ../src/screen.scss */
label, input {
  font-family: "sans-serif", "tahoma", "Verdana", "Geneva", "Arial";
}

/* line 110, ../src/screen.scss */
label {
  padding-right: 10px;
}

/* line 114, ../src/screen.scss */
input[type="text"], input[type="password"] {
  height: 35px;
}

/* line 118, ../src/screen.scss */
input[type="checkbox"] {
  width: 18px;
  height: 14px;
}

/* line 122, ../src/screen.scss */
input[type="submit"] {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#989eff), to(#5e63bd));
  background-image: -moz-linear-gradient(#989eff, #5e63bd);
  color: #2d3070;
  text-shadow: 1px 1px 2px #fff;
  -moz-box-shadow: 2px 2px 3px #ccc;
  -webkit-box-shadow: 2px 2px 3px #ccc;
  box-shadow: 2px 2px 3px #ccc;
  text-align: center;
  text-decoration: none;
  border: 2px solid #2d3070;
  line-height: 42px;
  width: 100px;
  font-family: "sans-serif", "tahoma", "Verdana", "Geneva", "Arial";
  font-size: 12pt;
  height: 40px;
}
