/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 8, ../src/screen.scss */
#bg {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #dddddd 100%);
  background-image: linear-gradient(top, #ffffff 0%, #dddddd 100%);
  min-height: 1080px;
}

/* line 12, ../src/screen.scss */
body {
  margin: 0 auto;
  text-align: center;
}

/* line 16, ../src/screen.scss */
form {
  width: 430px;
  margin: 0 auto;
}

/* line 20, ../src/screen.scss */
.field {
  width: 430px;
}

/* line 23, ../src/screen.scss */
.narrow-field {
  width: 300px;
  margin-left: 133px;
  float: left;
  margin-top: 20px;
}

/* line 29, ../src/screen.scss */
label, input {
  float: left;
  font-family: "sans-serif", "tahoma", "Verdana", "Geneva", "Arial";
}

/* line 33, ../src/screen.scss */
p {
  font-family: "sans-serif", "tahoma", "Verdana", "Geneva", "Arial";
}

/* line 36, ../src/screen.scss */
label {
  display: block;
  line-height: 50px;
  margin-right: 4px;
  width: 130px;
}

/* line 42, ../src/screen.scss */
.terms {
  width: 250px;
  display: block;
  line-height: 26px;
}

/* line 47, ../src/screen.scss */
.cancel {
  padding: 0 10px;
}

/* line 49, ../src/screen.scss */
input {
  width: 285px;
  height: 40px;
  margin-top: 6px;
  padding-left: 5px;
  font-size: 18px;
}

/* line 58, ../src/screen.scss */
input[type="checkbox"] {
  width: 20px;
  height: 14px;
}

/* line 62, ../src/screen.scss */
input[type="submit"] {
  width: 100px;
  font-size: 14px;
}

/* line 66, ../src/screen.scss */
img {
  padding-top: 200px;
}

/* line 69, ../src/screen.scss */
span {
  color: #fff;
}

/* line 70, ../src/screen.scss */
.dblue {
  background-color: #37383f;
}

/* line 71, ../src/screen.scss */
.blue {
  background-color: #5e63bd;
}

/* line 72, ../src/screen.scss */
.green {
  background-color: #56a869;
}

/* line 73, ../src/screen.scss */
.red {
  background-color: #c86464;
}

/* line 74, ../src/screen.scss */
.black {
  background-color: #2e2e2e;
}
