@import "compass/reset";
@import "compass/utilities";
@import "blueprint";
@import "compass/css3/gradient";

//TrackApp colors:

$Track_darkblue: #37383f; 
$Track_blue: #5e63bd;
$Track_green: #56A869;
$Track_red: #c86464;
$Track_black: #2e2e2e;

$basic_font: 'sans-serif', 'tahoma', 'Verdana', 'Geneva', 'Arial';
$pretty_font: 'Georgia';


