/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
color palette:

$Track_darkblue
$Track_blue
$Track_green
$Track_red
$Track_black

*/

@import "base";

body {
	margin: 0 auto;
	text-align:center;
}
#bg {
@include linear-gradient(color-stops(white, #dddddd));
	min-height: 1080px;
}
#header {
	margin:0 0 20px 0;
	}
#logo-area {
	width:550px;
	min-height:150px;
	float:left;
}
#search-area {
	width:200px;
	float:left;
	margin:40px 0px 0px 270px;
}
#content {
	margin: 0 auto;	
	width: 900px;
	min-height: 800px;
	float:left;
}
#main-area {
	float:left;
	margin: 40px 60px 0 60px;
}
#friends-area{
	float:left;
	width:200px;
	margin-top:40px;
	text-align:left;
}
	.friend {
	width:200px;
	padding: 5px 0;
	line-height: 30px;
	}

	.status {
	float:left;
	padding-right: 10px;}
form {
	width:430px;
	margin:0 auto;
}
.field {
	width:430px;
}
.narrow-field {
	width:300px;
	margin-left:133px;
	float:left;
	margin-top:20px;
}
.logo-drop {
	padding-top:150px;
}
p {
	font-family: $basic_font;
}

h1 {
	 color: $Track_darkblue;
	 font-family: $basic_font;
	 font-size: 14pt;
	 margin: 40px 0 0 120px;
}
.quote {
	color: #cccccc;
	font-family: $basic_font;
	font-size:10pt;
}
a {
	font-weight:bold;
	color: #2d3070;
	text-decoration: none;
}
label, input { 
	float: left;
	font-family: $basic_font;
}
label{
	display: block;
    	line-height: 52px;
    	margin-right: 4px;
    	width: 130px;
}
.terms {
	width:270px;
	display:block;
	line-height:26px;
}
.cancel {
	padding: 0 10px;}
input {
	width:285px;
	height:40px;
	margin-top: 6px;
	padding-left:5px;
	font-size:18px;

}
.button{
	display: block;
	font-family: $basic_font;
	font-size: 12pt;
	float:left;
	width: 120px;
	height: 40px;
	line-height: 42px;
	text-align: center;
	text-decoration: none;
	border: 2px solid #2d3070;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#989eff), to(#5e63bd));
	background-image: -moz-linear-gradient(#989eff, #5e63bd);
	color: #2d3070;
	text-shadow: 1px 1px 2px #fff;
	-moz-box-shadow: 2px 2px 3px #ccc;
	-webkit-box-shadow: 2px 2px 3px #ccc;
	box-shadow: 2px 2px 3px #ccc;
}
.button:hover{
	float:left;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#989eff), to(#989eff));
	background-image: -moz-linear-gradient(#989eff, #989eff);
	text-shadow: none;
}
.button:active, .button:focus {
	float:left;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5e63bd), to(#5e63bd));
	background-image: -moz-linear-gradient(#5e63bd, #5e63bd);
	text-shadow:none;
	border: 2px solid #000;
	color: #181a3d;
}
input[type="checkbox"] {	
	width:18px;
	height:14px;
}
input[type="submit"] {
	width:100px;
	font-size:14px;
}
