/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
color palette:

$Track_darkblue
$Track_blue
$Track_green
$Track_red
$Track_black

*/

@import "base";
@import "compass/css3/box-shadow";

body {
	margin: 0 auto;
	@include linear-gradient(color-stops(white, #dddddd));
	min-height: 1080px;
}
#wrapper {
	margin: 0 auto;
	width: 1160px;
}
#header {
	margin-top: 0;
	@include clearfix;
}
.logo-area {
	width:550px;
	min-height: 150px;
	float:left;
	margin-left: 60px;
}
.search-area {
	width:200px;
	float:left;
	margin:40px 0px 0px 270px;
}
#content {
	width: 1160px;
	min-height: 800px;
	float:left;
	margin-top: 50px;
}

.apikey { font-family: monospace; font-size: 13px; }

#login-form, #register-form, #edituser-form { width: 300px; margin: 0 auto; }
#googlemap { border: 5px solid #ccc; @include box-shadow(#333); }

#main-area {
	float:left;
	margin: 0 60px 0 60px;
}
#friends-area{
	float:left;
	margin: 0 0 0 90px;
	text-align:left;
}
	.friend {
	width:200px;
	padding: 5px 0;
	line-height: 30px;
	}

	.status {
	float:left;
	padding-right: 10px;
	}
.field {
	margin-top: 20px;
    text-align: right;
   	width: 710px;
}

p {
	font-family: $basic_font;
	margin-bottom: 10px;
}

h1,h2 {
	font-family: $basic_font;
	margin-bottom: 20px;
}

h1 {
	color: $Track_darkblue;
	font-size: 18pt;
	margin-bottom: 20px;
}
h2 {
	color: $Track_dark;
	font-size: 12pt;
}
.quote {
	color: $grey;
	font-family: $basic_font;
	font-size:10pt;
	margin-left:35px;
}
.grey {
	color: $grey;
	font-family: $basic_font;
}
.first-row {
	margin-top: 20px;
}
.centered {
	text-align:center;
	margin: 0 auto;
}
.right {
	text-align: right;
	@include clearfix;
}
.left {
	text-align: left;
	@include clearfix;
}
#error_explanation {    
   	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; 
    	background-color: #E7BCBC;
   	border: 2px solid #C86464;
    	text-align: center;
	margin-top: 10px;
	padding: 10px 0 10px 0;
}
#error_explanation ul li {
    	 background: url("/images/error.png") no-repeat scroll 0 0 transparent;
	 color: #C86464;
	 font-size: 10px;
	 height: 10px;
	 margin-left: 150px;
	 margin-top: 5px;
	 padding: 2px 2px 2px 20px;
	 text-align: left;
}
#error_explanation h2 {
    	font-size: 14px;
    	color: #923434;
}
.narrow {
	float: left;
    	margin-left: 180px;
    	margin-top: 15px;
    	width: 211px;
}
.narrow label  {
	float: left;
   	line-height: 34px;
  	margin-top: 0;
  	width: 120px;
}
.spacing {
	padding:0 3px;
}
a {
	font-weight:bold;
	color: #2d3070;
	text-decoration: none;
}
label, input { 
	font-family: $basic_font;
	margin-top:10px;
}

input[type="text"], input[type="password"] {
	font-size: 17px;
	padding: 5px;
}

input[type="submit"] {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#989eff), to(#5e63bd));
	background-image: -moz-linear-gradient(#989eff, #5e63bd);
	color: #2d3070;
	margin-top:25px;
	text-shadow: 1px 1px 2px #fff;
	-moz-box-shadow: 2px 2px 3px #ccc;
	-webkit-box-shadow: 2px 2px 3px #ccc;
	box-shadow: 2px 2px 3px #ccc;
	text-align: center;
	text-decoration: none;
	border: 2px solid #2d3070;
	line-height: 42px;
	width:100px;
	font-family: $basic_font;
	font-size: 12pt;
	height:40px;
}

input[type="submit"]:hover {
  color: #293D1B;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#99E764), to(#60963D));
	background-image: -moz-linear-gradient(#99E764, #60963D);
	border-color: #192510;
}
